<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
    <observer name="mymodule_controller_success_action" instance="Excellence\Slack\Observer\MyObserver"  />
    </event> 
    <event name="customer_register_success">
        <observer name="excellence_slack_customerregister" instance="Excellence\Slack\Observer\CustomerRegisterSuccess" />
    </event>
</config>

